*{
    margin: 0;
}

.contenedor{
    background-image: url(img/fondo.png);
    width: 100vw;
    height: 100vh;
    text-align: center;
}

p{
    font-size: xx-large;
    padding: 15%;
}

button{
    font-size: xx-large;
    padding: 0.75em;
}

#btnSi{
    transform: translate(-100%,0);
    color: green;
}

#btnNo{
    position: absolute;
    color: red;
}